/* ========= google fonts ========= */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Rockwell-Bold font */

@font-face {
    font-family: "Rockwell";
    src: url("../font/Rockwell-Bold/Rockwell-Bold.woff") format("woff2"), url("../font/Rockwell-Bold/Rockwell-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ============= start: reset ============= */

*, html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}

address {
    font-style: normal;
}

textarea {
    resize: none;
    overflow-y: auto;
    -ms-overflow-style: auto;
}

textarea:hover, textarea:focus, textarea:active {
    outline: none;
    box-shadow: none !important;
}

input:hover, input:active, input:focus {
    outline: none;
    box-shadow: none !important;
}

select:hover, select:active, select:focus {
    outline: none;
    box-shadow: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
    /*For FireFox*/
}

input[type="number"]::-webkit-inner-spin-button {
    /*For Webkits like Chrome and Safari*/
    -webkit-appearance: none;
    margin: 0;
}

button, button:hover, button:focus, button:active {
    outline: none;
    box-shadow: none !important;
}

img {
    border: none;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0);
    /* IE 9 */
    -webkit-transform: translateZ(0);
    /* Chrome, Safari, Opera */
    transform: translateZ(0);
}

a img {
    border: 0px;
}

figure {
    margin: 0;
    padding: 0;
}

.slick-initialized .slick-slide {
    outline: none;
    border: none;
}

/* ============= end: reset ============= */

/* =========== start: global =========== */

.custom-container {
    width: 100%;
    max-width: 1430px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.custom-container::after {
    content: "";
    clear: both;
    display: table;
}

.custom-row {
     display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.custom-col {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.custom-col.col2 {
    width: 50%;
}

.custom-col.col3 {
    width: 33.33%;
}

.custom-col.col4 {
    width: 25%;
}

.custom-col.col5 {
    width: 20%;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

section {
    overflow: hidden;
}

h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
}

.title-dark-center {
    text-align: center;
    color: #000000;
}

.title-white-center {
    text-align: center;
    color: #fff;
}

.title-white-center span {
    color: #ccac00;
}

.sign-btn {
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    color: #000000;
    background: #ccac00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    cursor: pointer;
}

.sign-btn:hover {
    background: #1c1b14;
    color: #ccac00;
}

/* =========== end: global =========== */

/* =========== end: start: custom-accordion-set =========== */

.custom-accordion-set {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.custom-accordion-set>a {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.custom-accordion-content {
    /* display: none; */
}

/* =========== end: start: custom-accordion-set =========== */

/* =========== start: main-navbar =========== */

header {
    position: sticky;
    top: 0;
    z-index: 9;
}

.main-navbar {
    background-color: #000000;
    position: relative;
    border-bottom: 5px solid #b29600;
    padding: 9px 0 8px;
}

.main-navbar .custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar .navbar_right {
    margin-left: auto;
}

.main_nav ul {
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
}

.main_nav ul li {
    margin: 0 0 0 5px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
}

.main_nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 50px;
    transition: all 0.3s ease-out;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.main_nav ul li:nth-last-child(-n+3) a {
    padding-left: 14px;
}

.main_nav ul li:hover>a {
    color: #0a91da;
}

.main_nav ul li i {
    position: absolute;
    right: 0;
    top: 10px;
    color: #fff;
}

.main_nav ul li:hover>i {
    color: #0a91da;
}

.main_nav ul ul {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.main_nav ul ul li {
    margin: 0;
    border-bottom: 1px solid #fff;
}

.main_nav>ul>li>ul:after {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 16px;
    width: 100%;
    left: 0;
}

.main_nav ul ul ul {
    left: 100%;
    top: 0;
}

.main_nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.main_nav ul ul li a {
    background: #022335;
}

.main_nav ul li:hover ul li:hover>a {
    color: #fff;
    background: #0a91da;
}

.main_nav ul ul li:hover i {
    color: #fff;
}

.hamburger-menu-container {
    position: relative;
    display: none;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
}

.hamburger-menu div:before, .hamburger-menu div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#menuTrigger {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    z-index: 1;
    appearance: none;
    background: transparent;
    opacity: 0;
}

#menuTrigger:checked~.hamburger-menu div {
    background-color: transparent;
}

#menuTrigger:checked~.hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#menuTrigger:checked~.hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

.menuTrigger-active {
    transform: translateX(0%) !important;
}

.main_nav .user-thumb img {
    margin: 0 10px 0 10px;
    width: 43.27px;
    height: 43.27px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.main_nav ul li .login-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ccac00;
    background: #1c1b14;
    border-radius: 10px;
    padding: 13px 20px;
}

.main_nav ul li .login-btn:hover {
    color: #fff;
    background-color: #ccac00;
}

/* =========== end: main-navbar =========== */

/* =========== start: header-bottom =========== */

.header-bottom {
    border-bottom: 5px solid #b29600;
    padding: 13px 0;
}

.header-bottom .header-bottom-inner {
    width: 100%;
    max-width: 780.86px;
    margin: 0 auto;
}

.header-bottom ul {
    display: flex;
    justify-content: space-between;
}

.header-bottom ul li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000 !important;
}

.header-bottom .image-icon {
    display: block;
    margin-right: 12px;
}

.header-bottom .image-icon img {
    width: 63.71px;
    height: 63.71px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
}

/* =========== end: header-bottom =========== */

/* =========== start: main-banner =========== */

/* .main-banner {
    background-color: #000;
    background-image: url(../images/player-banner.png), url(../images/player-banner2.png);
    background-position: right bottom, left top 50%;
    background-repeat: no-repeat;
    padding: 85px 0;
    border-bottom: 5px solid #b29600;
} */

/*.main-banner {*/
/*    background-color: #000;*/
/*    background-image: url(../images/banner.jpg);*/
/*    background-size: 100% 100%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    padding: 85px 0;*/
/*    border-bottom: 5px solid #b29600;*/
/*}*/

.main-banner .captionBox {
    width: 100%;
    max-width: 572px;
    margin: 0 auto;
    text-align: center;
}

.main-banner h1 {
    line-height: 80px;
    color: #ffffff;
    padding-top: 10px;
}

.main-banner h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 35px;
    color: #ffffff;
    padding-top: 10px;
}

.main-banner .sign-btn {
    width: 569.3px;
    height: 65.25px;
    margin-top: 25px;
}

/* =========== end: main-banner =========== */

/* =========== start: why-peerlay =========== */
.why-peerlay h1 {
    padding-bottom: 55px;
}

.why-peerlay .custom-col {
    width: 33.33%;
    margin-bottom: 30px;
}

.why-peerlay-innerbox {
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 20px 5px;
    height: 100%;
}

.why-peerlay-innerbox h4 {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
}

.why-peerlay-innerbox p {
    font-weight: 500;
    line-height: 20px;
    color: #808080;
    padding-top: 25px;
    width: 100%;
    max-width: 392px;
    margin: 0 auto;
}

/* =========== end: why-peerlay =========== */

/* =========== start:  why-people-played =========== */

/*.why-people-played {*/
/*    padding: 80px 0 45px;*/
/*    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../images/banner-help.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

.why-people-played h1 {
    padding-bottom: 60px;
}

.why-people-played .custom-col {
    width: 33.33%;
}

.why-pp-innerbox {
    background: #ffffff;
    border-radius: 10px;
    padding: 35px;
}

.why-pp-innerbox p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #808080;
}

.why-pp-innerbox .double-quote img {
    width: 34px;
    float: right;
    margin: -12px 0 0 0px;
}

.why-pp-innerbox figure {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    margin-top: 30px;
}

.why-pp-innerbox figure img {
    width: 67.03px;
    height: 67.03px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.why-pp-innerbox figure figcaption {
    padding-left: 20px;
}

.why-pp-innerbox figure figcaption h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.why-pp-innerbox figure figcaption p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2f302f;
    padding-top: 5px;
}

.circle-dots .slick-dots {
    display: table !important;
    margin: 45px auto 0 !important;
}

.circle-dots .slick-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: rgba(255, 243, 178, 0.5);
    border: 1px solid #fff3b2;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.circle-dots .slick-dots li.slick-active {
    opacity: 1;
}

.circle-dots .slick-dots li button {
    display: none;
}

.slick-dots li button:before {
    display: none;
}

/* =========== end:  why-people-played =========== */

/* ====================== start: footer ====================== */

footer {
    background-color: #000000;
}

/* footer-top */

.footer-top-nav {
    border-bottom: 1px solid #808080;
    padding: 40px 0;
}

.footer-top-nav ul {
    display: flex;
    justify-content: space-between;
}

.footer-top-nav ul li a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

/* footer-bottom */

.footer-bottom {
    padding: 28px 0 45px;
}

.footer-bottom .custom-row {
    justify-content: space-between;
}

.footer-bottom .custom-col.ftr-about {
    width: 35%;
}

.footer-bottom .custom-col.ftr-pages {
    width: 25%;
}

.footer-bottom .custom-col.ftr-sports {
    width: 25%;
}

.footer-bottom .custom-col.ftr-location {
    width: 15%;
}

.footer-bottom .ftr-about figure a {
    width: 225.99px;
    display: inline-block;
    padding-left: 20px;
}

.footer-bottom .ftr-about figure a img {
    width: 100%
}

.footer-bottom .ftr-about figure figcaption {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #808080;
    padding-top: 20px;
}

.footer-bottom h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 20px;
}

.ftr-btm-nav li {
    position: relative;
    padding-left: 17px;
}

.ftr-btm-nav li a {
    font-weight: 500;
    line-height: 24px;
    color: #808080;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
}

.ftr-btm-nav li a:hover {
    padding-left: 5px;
}

.ftr-btm-nav li::before {
    content: "";
    clear: both;
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    /*background-image: url(../images/arrow1.svg);*/
    background-repeat: no-repeat;
}

.footer-bottom h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ccac00;
}

.footer-bottom address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

.social-icon {
    display: flex;
    padding-top: 20px;
}

.social-icon li {
    padding-right: 15px;
}

.social-icon li:last-child {
    padding-right: 0;
}

.social-icon li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccac00;
    color: #000;
    font-size: 18px;
}

/* ====================== end: footer ====================== */

/* ====================== start: center-form ====================== */

.custom-control {
    height: 50px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

select.custom-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    /*background-image: url(../images/icons/arrow-bottom.svg);*/
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select.custom-control::-ms-expand {
    display: none;
}

textarea.custom-control {
    height: 140px;
}

.center-form {
    padding: 70px 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.center-form h1 {
    padding-bottom: 30px;
    font-size: 40px;
    line-height: 60px;
}

.center-form-content {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 35px 42px;
}

.center-form-content label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #626262;
    display: block;
    padding-bottom: 18px;
}

.input-box {
    margin-bottom: 20px;
    position: relative;
}

.input-box .custom-control {
    padding: 0 10px 0 45px;
}

.input-box.right-icon-box .custom-control {
    padding-right: 45px;
}

.input-box select.custom-control {
    padding: 0 15px;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 21px;
}

.input-box.right .custom-control {
    padding: 0 45px 0 10px;
}

.input-box.right-icon-box .input-icon.right {
    left: unset;
    right: 16px;
}

.input-box.right .input-icon {
    left: unset;
    right: 16px;
}

.blank-box .custom-control {
    padding: 0 10px;
}

.blank-box textarea.custom-control {
    padding: 10px;
}

.center-form-content button {
    height: 50px;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
}

.center-form-content .check-box {
    display: flex;
    align-items: flex-start;
}

.center-form-content .check-box a {
    padding-left: 20px;
}

.center-form-content .check-box input {
    margin-right: 12px;
    width: 20px !important;
    height: 20px !important;
    padding: 2px 9px !important;
}

.center-form-content .check-box input.circle-radio::after {
    font-size: 14px !important;
}

.center-form-content .check-box label {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #626262;
}

.center-form-content h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #626262;
    padding-top: 25px;
}

.center-form-content h5 a {
    color: #ccac00;
}

.center-form strong {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #3f3f3f;
    padding-bottom: 15px;
}

/* ====================== end: center-form ====================== */

/* ============ start: sign-up ============ */

/*.center-form.sign-up {*/
/*    background: linear-gradient(#80808069, #80808069), url(../images/signup-sec.jpg);*/
/*}*/

/* ============ end: sign-up ============ */

/* ============ start: login ============ */

/*.center-form.login {*/
/*    background: linear-gradient(#808080cf, #808080cf), url(../images/login-sec.jpg);*/
/*}*/

.center-form.login .center-form-content .check-box label {
    font-size: 14px;
}

.center-form.login .center-form-content .check-box a {
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #b29600;
}

.center-form.login .center-form-content button {
    margin-top: 15px;
}

/* ============ end: login ============ */

/* ============ start: inner-banner ============ */

/*!*.inner-banner {*!*/
/*!*    padding: 70px 0;*!*/
/*!*    background-image: url(../images/banner-help.jpeg);*!*/
/*!*    background-repeat: no-repeat;*!*/
/*!*    background-size: cover;*!*/
/*!*    border-bottom: 5px solid #b29600;*!*/
/*}*/

.inner-banner-captionBox {
    text-align: center;
}

.inner-banner-captionBox h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
}

.inner-banner-captionBox p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding-top: 15px;
    color: #ffffff;
}

/* ============ end: inner-banner ============ */

/* ============ start: contact ============ */

.center-form.contact .custom-container {
    display: flex;
}

.center-form.contact .center-form-content {
    margin: 0 50px 0 30px;
}

.get-in-touch {
    width: calc(100% - 600px);
}

.get-in-touch h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    color: #000000;
}

.get-in-touch address {
    padding-top: 15px;
}

.get-in-touch address a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2f302f;
    margin-top: 25px;
    padding-left: 30px;
    position: relative;
}

.get-in-touch address a img {
    position: absolute;
    left: 0;
    top: 2px;
}

.map {
    padding-top: 70px;
}

.map iframe {
    width: 100%;
    height: 325.21px;
}

/* ============ end: contact ============ */

/* ========================== start: common-max-content ========================== */

.common-max-content-wrapper {
    display: flex;
    justify-content: center;
}

.common-max-content-left {
    width: 100%;
    max-width: 261.32px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.common-max-content-middle {
    width: 100%;
    max-width: 929.88px;
}

.common-max-content-right {
    width: 100%;
    max-width: 374.54px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 100px;
}

/* =============== start: common-max-content-left =============== */

.common-max-content-left .le_header_content {
    padding: 15px 0 0 15px;
}

.common-max-content-left .le_header_content .balance-details {
    background: #fafafa;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px;
}

.common-max-content-left .le_header_content .balance-details p {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    padding-top: 5px;
}

.common-max-content-left .le_header_content .balance-details p:first-child {
    padding-top: 0;
}

.common-max-content-left .le_header_content .balance-details p span {
    font-weight: bold;
    color: #ccac00;
    display: inline-block;
    padding-left: 8px;
}

.common-max-content-left .le_content_body {
    background: red;
    height: calc(100% - 97px);
    background: #f2f3f4;
    border: 1px solid #dcdcdc;
    border-top-right-radius: 5px;
    margin-top: auto;
}

.le-content-navbar {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.le-content-navbar li a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.le-content-navbar li a.active {
    background: #fff;
}

.le-content-navbar li a img {
    width: 63.71px;
    height: 63.71px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* =============== end: common-max-content-left =============== */

/* ============= start: common-max-content-middle ============= */

.common-max-content-middle .midd_header {
    padding: 15px 0 15px;
}

.common-max-content-middle .midd_header_content {
    background: #fafafa;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    align-items: flex-start;
}

.common-max-content-middle .midd_header_content .midd_header_navbar {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 21px);
}

.common-max-content-middle .midd_header_content .midd_header_navbar li a {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 11px 22px;
}

.common-max-content-middle .midd_header_content .midd_header_navbar li a.active {
    background: #000000;
    color: #fff;
}

.common-max-content-middle .midd_header_content .midd_header_navbar li a img {
    margin-right: 8px;
    filter: brightness(0%);
    /*any image black*/
}

.common-max-content-middle .midd_header_content .midd_header_navbar li a.active img {
    filter: brightness(0) invert(1);
    /*any image white*/
}

/* ========= midd-content-body ========= */

.midd-content-card {
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.midd-content-card-header {
    display: flex;
    justify-content: space-between;
    background: #fafafa;
    border-bottom: 1px solid #ededed;
    padding: 13px 20px;
}

.midd-content-card-header .mcc-header-left figure {
    display: flex;
    align-items: center;
}

.midd-content-card-header .mcc-header-left figure figcaption {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-left: 10px;
}

.midd-content-card-header .mcc-header-right {
    display: flex;
    align-items: center;
}

.midd-content-card-header .mcc-header-right figure {
    display: flex;
    align-items: center;
}

.midd-content-card-header .mcc-header-right figure figcaption {
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #000000;
    display: flex;
    padding-left: 10px;
}

.midd-content-card-header .mcc-header-right figure figcaption sub {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #808080;
    align-self: flex-end;
    padding-left: 10px;
}

.midd-content-card-body {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    position: relative;
}

.midd-content-card-left, .midd-content-card-right {
    width: 100%;
    max-width: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.midd-content-card-left img, .midd-content-card-right img {
    width: 112.02px;
    height: 122.44px;
    object-fit: contain;
}

.midd-content-card-left figure figcaption, .midd-content-card-right figure figcaption {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 10px;
}

.midd-content-card-midd {
    width: 100%;
    max-width: 485px;
}

.midd-content-card-midd label {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.midd-content-card-midd .custom-progressbar-title {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding-left: 47px;
    color: #000000;
    margin: 15px 0 9px;
}

.midd-content-card-midd .custom-progressbar {
    display: flex;
    align-items: center;
}

.midd-content-card-midd .custom-progressbar .cp-le-value, .midd-content-card-midd .custom-progressbar .cp-rg-value {
    width: 47px;
}

.midd-content-card-midd .custom-progressbar .cp-rg-value {
    text-align: right;
}

.midd-content-card-midd .custom-progressbar .cp-content {
    width: calc(100% - 94px);
    background: #ebebeb;
    border-radius: 10px;
    height: 10.58px;
}

.midd-content-card-midd .custom-progressbar .cp-content-done {
    float: right;
    background: #434343;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 0;
}

.midd-content-card-midd .betbtn {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background: #ccac00;
    border-radius: 10px;
    width: 409.93px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
}

/* ============= end: common-max-content-middle ============= */

/* ============= start: common-max-content-right ============= */

.common-max-content-right .rg_content_body {
    min-height: calc(100% - 97px);
    background: #f2f3f4;
    border: 1px solid #dcdcdc;
    border-top-left-radius: 5px;
    padding: 0 20px 20px;
}

.common-max-content-right .rg_content_body h4 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    font-family: Rockwell;
    padding-top: 18px;
}

.custom-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 1px;
    margin-top: 18px;
}

/* ========== game-vs-card ========== */

.game-vs-card .gvc-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.game-vs-card .gvc-header label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.game-vs-card .gvc-body {
    background: #ffffff;
    border-radius: 10px;
    padding: 8px 20px;
}

.game-vs-card .gvc-body ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.game-vs-card .gvc-body ul li:last-child {
    border-bottom: 0;
}

.game-vs-card .gvc-team figure {
    display: flex;
    align-items: flex-start;
}

.game-vs-card .gvc-team figure img {
    width: 20px;
}

.game-vs-card .gvc-team figure figcaption {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    padding-left: 10px;
}

.game-vs-card .gvc-body .gvc-team label {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
    display: block;
    padding: 0 0 0 31px;
}

.game-vs-card .gvc-value label {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

/* ================ users-card ================ */

.Stats-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;
}

.Stats-title h4 {
    padding-top: 0 !important;
}

.Stats-title h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #72777a;
}

.user-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-card-header label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.users-card-body {
    background: #ffffff;
    border-radius: 10px;
    padding: 8px 20px;
}

.users-card-body ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

.users-card-body ul li:last-child {
    border-bottom: 0;
}

.users-card-body figure {
    display: flex;
    align-items: center;
}

.users-card-body figure img {
    width: 37.09px;
    height: 37.09px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.users-card-body figure figcaption {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #30383d;
}

.users-card-body .user-card-winrate label {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #3f961f;
    display: flex;
    align-items: center;
}

.users-card-body .user-card-winrate label img {
    margin-right: 4px;
}

.users-card-body .user-card-winrate.downgrade label {
    color: #b0090a;
}

/* ============= end: common-max-content-right ============= */

/* ========================== end: common-max-content ========================== */

/* ============================ start: custom-modal ============================ */

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500 !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    outline: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.flex {
    display: flex;
}

.custom-modal::before {
    z-index: -1;
    content: "";
    clear: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.custom-modal-dialog {
    position: relative;
    width: 100%;
    max-width: 500px;
    /*pointer-events: none;*/
}

.custom-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.custom-modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.custom-modal-body {
    max-height: 80vh;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.custom-close {
    float: right;
    text-shadow: 0 1px 0 #fff;
    background-color: transparent;
    border: 0 !important;
    outline: none !important;
    cursor: pointer;
}

.custom-close img {
    width: 14px;
}

/* ============================ end: custom-modal ============================ */

/* ============================ start: bet-modal ============================ */

.bet-modal .custom-modal-dialog {
    max-width: 749px;
}

.bet-modal .custom-modal-header {
    background: #fafafa;
    border: 1px solid #ededed;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    padding: 25px;
}

.bet-modal .custom-modal-header h4 {
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    width: calc(100% - 20px);
}

.bet-modal .custom-modal-body {
    padding: 0 45px 0;
}

.bet-modal .custom-modal-body .bet-type {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d7d7d7;
    padding: 15px 0;
}

.bet-modal .custom-modal-body .bet-type li label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
}

.bet-modal .custom-modal-body .bet-type li label input {
    margin-right: 10px;
}

input.circle-radio {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    border-radius: 50%;
}

input.circle-radio:checked {
    border: 1px solid #b29600;
}

input.circle-radio::after {
    font-family: FontAwesome;
    content: "\f00c";
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #b29600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-visibility: hidden;
    -moz-visibility: hidden;
    -ms-visibility: hidden;
    -o-visibility: hidden;
    visibility: hidden;
}

input.circle-radio:checked:after {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-visibility: visible;
    -moz-visibility: visible;
    -ms-visibility: visible;
    -o-visibility: visible;
    visibility: visible;
}

.who-win-box {
    border-bottom: 1px solid #dee2e6;
}

.who-win-box h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-top: 25px;
}

.who-win-vs {
    display: flex;
    justify-content: center;
    padding: 20px 0 15px;
    width: 100%;
}

.who-win-vs li {
    align-self: center;
}

.who-win-vs li:nth-child(even) {
    margin: 0 30px;
    font-family: Rockwell;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #b1b1ba;
    width: 43.12px;
    height: 42.12px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-win-vs li label {
    display: flex;
    align-items: center;
    font-family: Rockwell;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.who-win-vs li .circle-inputBox {
    position: relative;
    width: 101.78px;
    height: 101.78px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}



