.App {
  text-align: center;
  background-image: url("../src/assets/images/bg2.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card-wrapper{
  margin: 10px;
}

.head1tag {
  color: floralwhite;
}

.service-card-body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: whitesmoke;
  background: #7c7e7b;

}

.card-text {
  color: white;
  font-size: medium;
  font-family: emoji;
  font-weight: 200;
}

.card-service-image{
  height: 249px;
}

.carousel-body{
  margin: 10px;
}
.carousel-img{
  height: 372px;
  width:770px;

}
.carousel-item{
  background: lightblue;
}


.carousel-control-next, .carousel-control-prev {
    background: black!important;
  }

.vedio{
  height: 200px;
  width: 500px;
}

.footer-bg{
  background-image: url("../src/assets/images/footerimgbg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 2px solid #CDCDCD;

}

.h1.ant-typography, div.ant-typography-h1, div.ant-typography-h1 > textarea, .ant-typography h1 {
  color: white!important;
}

.ant-typography strong {
  font-weight: 600;
  font-size: medium;
  color: wheat;
}